<div id="hero">

  <div class="vertical-space-60"></div>

  <div class="row">
    <div class="large-10 medium-12 small-12 columns end">
      <a href="http://www.housecall.io/pro" class="right page-header">LOGIN</a>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-offset-2 medium-11 medium-offset-1 small-12 columns">
      <h1 class="header-font-light">HOUSE<span class="lato-black">CALL</span> PRO<span class="TM">™</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-offset-2 medium-11 medium-offset-1 small-12 columns">
      <div class="hc-tagline body-font-light">mobilize your business</div>
    </div>
  </div>

  <div class="vertical-space-20"></div>

  <div class="row">
    <div class="large-5 large-offset-2 medium-9 medium-offset-1 small-12 columns">
      <div class="hc-header header-font-light">The complete solution for</div>
    </div>
  </div>

  <div class="row">
    <div class="large-5 large-offset-2 medium-9 medium-offset-1 small-12 columns">
      <div class="hc-header header-font-light">on-the-go service professionals</div>
    </div>
  </div>

  <div class="vertical-space-20"></div>

  <div class="row">
    <div class="large-2 large-offset-2 medium-3 medium-offset-1 small-12 columns">
      <a href="/pro" class="button small full-width">SIGN UP</a>
    </div>
  </div>

  <div class="vertical-space-20"></div>

</div>


<div id="tagline" class="align-center section-padding">

  <div class="row">
    <div class="large-12 medium-12 small-12 columns hc-tagline">
      Easy to use tools to run your service business
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered columns end hc-subheader">
      <span class="body-font-dark">HOUSE<span class="lato-black">CALL</span> PRO</span> lets you manage your service
      business effortlessly through your phone and online. Now you can focus on getting the job done instead of
      shuffling paper work and chasing payments.
    </div>
  </div>

  <div id="housecall-pro-software">
    <div class="row">
      <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-6 columns align-center">
        <%= image_tag("pro_web_iphone_and_android.png") %>
        <br>
        <span class="hc-callout">Learn more</span>
      </div>
      <div class="large-4 medium-5 small-6 columns end align-center">
        <%= image_tag("pro_web_portal.png") %>
      </div>
    </div>

  </div>
</div>


<div id="industries-tag-cloud" class="align-center section-padding">

  <div class="row">
    <div class="large-12 medium-12 small-12 columns hc-tagline">
      <span class="body-font-light">For all service professionals</span>
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered columns end hc-subheader">
      <span class="body-font-secondary-blue">Whether you are a regional Electrical company with 50 employees or a self-employed Manicurist, we've got you covered.</span>
    </div>
  </div>

  <div class="vertical-space-20"></div>

  <div class="row">
    <div class="large-8 medium-10 small-12 columns large-centered medium-centered small-centered align-center">
      <span class="tag-cloud red"><%= image_tag("mini-icon_handyman.png", class: "mini-icon", size: "17x17") %>
        Handyman</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_plumbing.png", class: "mini-icon", size: "17x17") %>
        Plumbing</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_electrical.png", class: "mini-icon", size: "17x17") %>
        Electrical</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_maid.png", class: "mini-icon", size: "17x17") %> Maid</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_carpet.png", class: "mini-icon", size: "17x17") %> Carpet Cleaning</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_audio.png", class: "mini-icon", size: "17x17") %>
        Audio & TV</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_window.png", class: "mini-icon", size: "17x17") %> Window Washing</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_appliances.png", class: "mini-icon", size: "17x17") %>
        Appliances</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_garage.png", class: "mini-icon", size: "17x17") %>
        Garage</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_hvac.png", class: "mini-icon", size: "17x17") %> HVAC</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_home_inspection.png", class: "mini-icon", size: "17x17") %>
        Home Inspection</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_painting.png", class: "mini-icon", size: "17x17") %>
        Painting</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_junk.png", class: "mini-icon", size: "17x17") %>
        Junk Removal</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_landscaping.png", class: "mini-icon", size: "17x17") %>
        Landscaping</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_locksmith.png", class: "mini-icon", size: "17x17") %>
        Locksmith</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_moving.png", class: "mini-icon", size: "17x17") %>
        Moving</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_pest.png", class: "mini-icon", size: "17x17") %>
        Pest Control</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_pool.png", class: "mini-icon", size: "17x17") %>
        Pool & Spa</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_automotive.png", class: "mini-icon", size: "17x17") %> Auto Detail</span>
      <span class="tag-cloud red"><%= image_tag("mini-icon_tech.png", class: "mini-icon", size: "17x17") %>
        Tech Geek</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_babysitter.png", class: "mini-icon", size: "17x17") %>
        Babysitter</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_beauty.png", class: "mini-icon", size: "17x17") %> Health & Beauty</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_cooking.png", class: "mini-icon", size: "17x17") %>
        Cooking</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_tutor.png", class: "mini-icon", size: "17x17") %>
        Tutor</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_pets.png", class: "mini-icon", size: "17x17") %>
        Pets</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_music.png", class: "mini-icon", size: "17x17") %> Music Lessons</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_personal_fitness.png", class: "mini-icon", size: "17x17") %>
        Personal Fitness</span>
      <span class="tag-cloud yellow"><%= image_tag("mini-icon_medical.png", class: "mini-icon", size: "17x17") %>
        Medical</span>
      <span class="tag-cloud green"><%= image_tag("mini-icon_notary.png", class: "mini-icon", size: "17x17") %>
        Notary</span>
      <span class="tag-cloud green"><%= image_tag("mini-icon_realtor.png", class: "mini-icon", size: "17x17") %>
        Realtor</span>
      <span class="tag-cloud green"><%= image_tag("mini-icon_accouting.png", class: "mini-icon", size: "17x17") %> Tax & Accounting</span>
      <span class="tag-cloud green"><%= image_tag("mini-icon_lender.png", class: "mini-icon", size: "17x17") %>
        Lender</span>
      <span class="tag-cloud green"><%= image_tag("mini-icon_financial_planner.png", class: "mini-icon", size: "17x17") %>
        Financial Planner</span>
      <br>
      <br>
      <span class="tag-cloud green">+ More...</span>
    </div>
  </div>

</div>

<div id="testimonials" class="section-padding">

  <div class="row">
    <div class="large-12 medium-12 small-12 columns align-center hc-header">
      <span class="body-font-hc-blue">TESTIMONIALS</span>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-offset-2 columns test-background align-center">
      <a href="//fast.wistia.net/embed/iframe/8ba6vl13a6?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/af0175b74562fd83c5aee9db8be87ebae8f358a3.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=500x281" alt="" /></a>
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
    </div>
    <div class="large-4 columns end test-background align-center">
      <%= image_tag("test_square.png") %>
    </div>
  </div>

</div>


<hr>

<div id="how-it-works-my-business" class="row">
  <div class="large-12 medium-12 small-12 columns">
    How it works my existing business
  </div>
</div>

<hr>

<div id="how-it-works-housecall-marketplace" class="row">
  <div class="large-12 medium-12 small-12 columns">
    How it works with HouseCall marketplace
  </div>
</div>

<hr>

<div id="industries-graphics" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Pretty pictures
  </div>
</div>

<hr>

<div id="features" class="row">
  <div class="large-12 medium-12 small-12 columns align-center hc-header">
    Features
  </div>
</div>

<hr>

<div id="pricing" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Features
  </div>
</div>

<hr>

<div id="sign-up" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Sign up
  </div>
</div>